[Unit]
Description=GrowPi Server and Control
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/opt/growpi/growpi
WorkingDirectory=/opt/growpi

[Install]
WantedBy=multi-user.target
